[Desktop Entry]
Name[it]=Annotator
Name[nl]=Aantekeningen
Name[pt_BR]=Annotator
Name=Annotator
GenericName[it]=Annotator
GenericName[nl]=Aantekeningen
GenericName[pt_BR]=Annotator
GenericName=Annotator
Comment[it]=Comunica meglio con le immagini
Comment[nl]=Communiceer met betere afbeeldingen
Comment[pt_BR]=Comunique-se melhor com imagens
Comment=Communicate with images better
Categories=Utility;Graphics;
Exec=com.github.phase1geo.annotator %f
Icon=com.github.phase1geo.annotator
Terminal=false
Type=Application
MimeType=image/bmp;image/gif;image/png;image/jpeg;image/svg+xml;image/tiff;image/wmf;image/xbm;image/xpm;image/x-icns;image/x-quicktime;image/x-tga;
X-GNOME-Gettext-Domain=Annotator
X-GNOME-UsesNotifications=true
Keywords[it]=annotatore; immagine; annotazione;
Keywords[nl]=aantekeningen;afbeelding;aantekening;
Keywords[pt_BR]=imagem;anotador;annotator;image;annotate;
Keywords=annotator;image;annotate;
Actions=EditClipboard;EditScreenshot

[Desktop Action EditClipboard]
Name[it]=Modifica Immagine negli Appunti
Name[nl]=Klembordafbeelding bewerken
Name[pt_BR]=Edite imagens da área de transferência
Name=Edit Clipboard Image
Exec=com.github.phase1geo.annotator --use-clipboard

[Desktop Action EditScreenshot]
Name[it]=Fai uno Screenshot
Name=Take Screenshot
Exec=com.github.phase1geo.annotator --screenshot-area
